!!! 5
%html
  %head
    %meta{ charset:'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', :'http-equiv' =>'X-UA-Compatible' }
    %title Nick Cox: Resume


    = stylesheet_link_tag '//cloud.typography.com/7494032/783726/css/fonts.css'
    = stylesheet_link_tag 'normalize', 'all'
    = stylesheet_link_tag 'print', 'all'
    = javascript_include_tag  'all'

  %body
    = yield
